<!--Filters Window-->
<div class="modal fade dark medium" id="filters" tabindex="-1" role="dialog" aria-labelledby="filtersLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="filtersLabel"><i class="fa fa-filter"></i> &nbsp; Filters</h4>
      </div>
      <div class="modal-body">
          <div class="text-center msg"></div>
          <div class="form-group-group green">
                <h4>Saved Filters : <small class="filter_name"></small></h4>
                <div class="form-group">
                    <label>
                        <div><select class="form-control" id="saved_filters">
                        </select></div>
                    </label>
                </div>
              <div class="form-group">
                    <label><div><span>Filter Name</span></div>
                        <div><input class="form-control" name="id" type="hidden">
                        <input class="form-control" name="name"></div>
                    </label>
                </div>
          </div>
          <div class="form-group-group blue where">
              <h4>Find Where
                <div class="pull-right">
                    <a class="btn btn-default btn-xs add">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a> 
                    <a class="btn btn-danger btn-xs remove">&nbsp;<i class="fa fa-minus"></i>&nbsp;</a>  
                </div>
              </h4>
              <div id="filters_where">
              </div>
                <h4>Sort By</h4>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>
                            <div><select class="form-control" name="sort_by">
                                <option value="time" selected>Start Time</option>  
                                <option value="end">End Time</option>  
                                <option value="mid">Monitor ID</option>
                                <option value="ext">File Type</option>  
                                <option value="size">Filesize</option>  
                                <option value="status">Video Status</option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <div><select class="form-control" name="sort_by_direction">
                                <option value="ASC" selected>ASC</option>  
                                <option value="DESC">DESC</option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <input class="form-control" title="Row Limit" placeholder="Row Limit" name="limit">
                        </label>
                    </div>
                </div>
          </div>
          <div class="form-group-group red">
                <h4>Action for Selected</h4>
                <div class="form-group">
                    <label><div><span>Enabled</span></div>
                            <div><select class="form-control" name="enabled">
                                <option value="0" selected>No</option>  
                                <option value="1">Yes</option>  
                                </select></div>
                    </label>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label><div><span>Archive</span></div>
                            <div><select class="form-control" name="archive">
                                <option value="0" selected>No</option>  
                                <option value="1">Yes</option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label><div><span>Email Details</span></div>
                            <div><select class="form-control" name="email">
                                <option value="0" selected>No</option>  
                                <option value="1">Yes</option>  
                                </select></div>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label><div><span>Delete Matches</span></div>
                            <div><select class="form-control" name="delete">
                                <option value="0" selected>No</option>  
                                <option value="1">Yes</option>  
                                </select></div>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label><div><span>Execute Command</span></div>
                        <div><input class="form-control" name="execute"></div>
                    </label>
                </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger delete">Delete</button>
          </div>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>