<!--Add Monitor Window-->
<div class="modal medium fade" id="add_monitor" tabindex="-1" role="dialog" aria-labelledby="add_monitorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="add_monitorLabel"><i class="fa fa-plus"></i> &nbsp; <span>Add</span> Monitor &nbsp; <small>Monitor ID : <t class="edit_id"></t></small></h4>
      </div>
      <div class="modal-body form-group-group-group">
        <div class="form-group-group grey">
          <h4>Identity</h4>
            <div class="form-group">
            <label>
                <div><span>Mode</span></div>
                <div><select class="form-control" name="mode" selector="h_m">
                    <option value="stop">Disabled</option>  
                    <option value="idle">Idle</option>  
                    <option value="start">Watch Only</option>  
                    <option value="record">Record</option>  
                </select></div>
            </label>
            </div>
              <div class="form-group">
                <label><div><span>Monitor ID <small>No spaces or special characters.</small></span></div>
                    <div><input class="form-control" name="mid"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Name</span></div>
                    <div><input class="form-control" name="name"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Retry Connection <small>Number of times allowed to fail</small></span></div>
                    <div><input class="form-control" detail="fatal_max" placeholder="10"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Notes</span></div>
                    <div><textarea class="form-control" detail="notes" placeholder="Comments you want to leave for this cameras settings."></textarea></div>
                </label>
              </div>
          </div>
<!--     START of Input     -->
          <div class="form-group-group forestgreen">
          <h4>Input</h4>
              <blockquote>
                  <p>For optimal performance try accesing your camera's internal settings. Find the following options and set them as shown. Some ONVIF cameras require use a management tool to modify their internal settings.</p>
                  <ul>
                      <li>I-frame interval : 80</li>
                      <li>Bit Rate Control : CBR</li>
                      <li>Bit Rate : between 256kbps - 500kbps</li>
                  </ul>
                  <p>If you need help figuring out what input type your camera is you can take a look in the <a href="http://shinobi.video/docs/cameras" target="_blank">Camera URLs List</a> on the Shinobi website.</p>                  
              </blockquote>
              <div class="row">
                  <div class="form-group col-md-12">
                    <label><div><span>Input Type</span></div>
                        <div><select class="form-control" name="type" selector="h_t">
                            <option value="jpeg">JPEG</option>
                            <option value="mjpeg">MJPEG</option>
                            <option value="h264">H.264 / H.265 / H.265+</option>
                            <option value="hls">HLS (.m3u8)</option>
                            <option value="mp4">MPEG-4 (.mp4 / .ts)</option>
                            <option value="socket">Shinobi Streamer</option>
                            <option value="local">Local</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group col-md-12 h_t_input h_t_h264 h_t_hls h_t_mp4 h_t_jpeg h_t_mjpeg">
                    <label><div><span>Connection Type</span></div>
                        <div><select class="form-control" name="protocol" selector="h_p">
                            <option value="http" selected>HTTP</option>
                            <option value="https">HTTPS</option>
                            <option value="rtsp">RTSP</option>
                            <option value="udp">UDP</option>
                        </select></div>
                    </label>
                  </div>
              </div>
              <div class="form-group h_p_input h_p_rtsp">
                <label><div><span>RTSP Transport</span></div>
                    <div><select class="form-control" detail="rtsp_transport">
                        <option value="no" selected>Auto</option>  
                        <option value="tcp">TCP</option>  
                        <option value="udp">UDP</option>  
                        <option value="http">HTTP</option>  
                    </select></div>
                </label>
              </div>
              <div class="row h_t_input h_t_h264 h_t_hls h_t_mp4 h_t_jpeg h_t_mjpeg">
                  <div class="form-group col-md-12">
                    <label><div><span>Username</span></div>
                    <div><input class="form-control" detail="muser" placeholder=""></div>
                    </label>
                  </div>
                  <div class="form-group col-md-12">
                    <label><div><span>Password</span></div>
                    <div><input class="form-control" type="password" detail="mpass" placeholder=""></div>
                    </label>
                  </div>
              </div>
              <div class="h_t_input h_t_h264 h_t_hls h_t_mp4 h_t_jpeg h_t_mjpeg">
                  <div class="form-group">
                    <label><div><span>Host</span></div>
                    <div><input class="form-control" name="host" placeholder=""></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label>
                        <div><span>Port</span></div>
                        <div><input class="form-control" name="port" placeholder="80"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Force Port</span></div>
                        <div><select class="form-control" detail="port_force">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
              </div>
              <div class="form-group h_t_input h_t_h264 h_t_hls h_t_mp4 h_t_jpeg h_t_mjpeg h_t_local">
                <label><div><span>Path</span></div>
                <div><input class="form-control" name="path" placeholder="/videostream.cgi?1"></div>
                </label>
              </div>
              <div class="form-group h_t_input h_t_socket h_t_jpeg h_t_mjpeg">
                <label><div><span>Monitor Capture Rate <small>(FPS)</small></span></div>
                <div><input class="form-control" detail="sfps"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Analyzation Duration</span></div>
                <div><input class="form-control" detail="aduration"></div>
                </label>
              </div>
          </div>
<!--     END of Input     -->
<!--     START of Stream     -->
          <div class="form-group-group navy">
          <h4>Stream</h4>
              <div class="form-group">
                <label><div><span>Stream Type</span></div>
                    <div><select class="form-control" detail="stream_type" selector="h_st">
                        <option value="b64" selected>Base64 over Websocket</option>
                        <option value="jpeg">JPEG (Auto Enables JPEG API)</option>
                        <option value="mjpeg">MJPEG</option>
                        <option value="hls">HLS (includes Audio)</option>
                    </select></div>
                </label>
              </div>
              <div class="form-group h_st_input h_st_mjpeg">
                <label><div><span># of Allow MJPEG Clients <small>0 for infinite</small></span></div>
                    <div><input class="form-control" detail="stream_mjpeg_clients" placeholder="20"></div>
                </label>
              </div>
              <div class="h_st_input h_st_hls">
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>HLS Video Encoder</span></div>
                            <div><select class="form-control" detail="stream_vcodec">
                                <option value="no" selected>Auto</option>
                                <option value="libx264" selected>libx264</option>
                                <option value="libx265">libx265</option>
                                <option value="copy">copy</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>HLS Audio Encoder</span></div>
                            <div><select class="form-control" detail="stream_acodec">
                                <option value="no" selected>No Audio</option>
                                <option value="" selected>Auto</option>
                                <option value="aac">aac</option>
                                <option value="ac3">ac3</option>
                                <option value="libmp3lame">libmp3lame</option>
                                <option value="copy">copy</option>
                            </select></div>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                    <label><div><span>HLS Segment Length <small>in Seconds</small></span></div>
                        <div><input class="form-control" detail="hls_time" placeholder="2"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>HLS Preset</span></div>
                        <div><input class="form-control" detail="preset_stream" placeholder="ultrafast"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>HLS List Size</span></div>
                        <div><input class="form-control" detail="hls_list_size" placeholder="2"></div>
                    </label>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                    <label><div><span>Check Signal Interval <small>in Minutes</small></span></div>
                        <div><input class="form-control" detail="signal_check" placeholder="Set to 0 to Disable"></div>
                    </label>
                  </div>
                  <div class="form-group col-md-12">
                    <label><div><span>Log Signal Event <small>Client side only</small></span></div>
                            <div><select class="form-control" detail="signal_check_log">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select></div>
                      </label>
                  </div>
              </div>
              <div class=" h_st_input h_st_mjpeg h_st_b64 h_st_hls">
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Quality <small>1 is High, 23 is Low</small></span></div>
                        <div><input class="form-control" placeholder="23" detail="stream_quality"></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Rate <small>(FPS)</small></span></div>
                        <div><input class="form-control" detail="stream_fps" placeholder="1"></div>
                        </label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Width</span></div>
                        <div><input class="form-control" type="number" min="1" detail="stream_scale_x" placeholder="640"></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Height</span></div>
                        <div><input class="form-control" type="number" min="1" detail="stream_scale_y" placeholder="480"></div>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                    <label><div><span>Video Filter</span></div>
                    <div><input class="form-control" detail="svf"></div>
                    </label>
                  </div>
              </div>
          </div>
<!--     END of Stream     -->
<!--     START of JPEG     -->
          <div class="form-group-group forestgreen">
          <h4>JPEG API <small>Snapshot (cgi-bin)</small></h4>
              <div class="form-group">
                <label><div><span>Enabled</span></div>
                    <div><select class="form-control" detail="snap" selector="h_sn">
                        <option value="0" selected>No</option>
                        <option value="1">Yes</option>
                    </select></div>
                </label>
              </div>
              <div class="h_sn_input h_sn_1" style="display:none">
                  <div class="form-group">
                    <label><div><span>Frame Rate <small>(FPS)</small></span></div>
                    <div><input class="form-control" detail="snap_fps" placeholder="1"></div>
                    </label>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Image Width</span></div>
                        <div><input class="form-control" detail="snap_scale_x" placeholder=""></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Image Height</span></div>
                        <div><input class="form-control" detail="snap_scale_y" placeholder=""></div>
                        </label>
                      </div>
                  </div>
              </div>
          </div>
<!--     END of JPEG     -->
<!--     Start of Record     -->
          <div class="form-group-group red h_m_input h_m_record h_m_idle">
          <h4>Recording</h4>
              <blockquote>It is recommended that you set <b>Record File Type</b> to <b class="h_t_input h_t_jpeg h_t_socket">WebM</b><b class="h_t_input h_t_mjpeg h_t_h264 h_t_hls h_t_mp4 h_t_local">MP4</b> and <b>Video Codec</b> to <b class="h_t_input h_t_jpeg h_t_socket">libvpx</b><b class="h_t_input h_t_mjpeg h_t_h264 h_t_hls h_t_mp4 h_t_local">copy or libx264</b> because your <b>Input Type</b> is set to <b class="h_t_text"></b>.</blockquote>
              <div class="form-group">
                <label><div><span>Record File Type</span></div>
                    <div><select class="form-control" name="ext" selector="h_f">
                        <option value="webm">WebM (libvpx)</option>  
                        <option value="mp4">MP4 (copy, libx264, libx265)</option>  
    <!--                    <option value="mkv">MKV</option>  -->
                    </select></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Video Codec</span></div>
                    <div><select class="form-control" detail="vcodec" selector="h_vc">
                        <option value="default" selected>Default</option>
                        <option value="none">Auto</option>
                        <optgroup label="WebM">
                            <option value="libvpx">libvpx (Default)</option>
                            <option value="libvpx-vp9">libvpx-vp9</option>
                        </optgroup>
                        <optgroup label="MP4">
                            <option value="libx265">libx265</option>
                            <option value="libx264">libx264 (Default)</option>
                            <option value="copy">copy</option>
                        </optgroup>
                    </select></div>
                </label>
              </div>
              <div class="h_vc_input h_vc_libvpx h_vc_libvpx-vp9 h_vc_libx264 h_vc_libx265 h_vc_default h_vc_none">
                  <div class="form-group">
                    <label><div><span>Quality <small>1 is High, 23 is Low</small></span></div>
                    <div><input class="form-control" detail="crf" placeholder=""></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Preset</span></div>
                        <div><input class="form-control" detail="preset_record" placeholder=""></div>
                    </label>
                  </div>
              </div>
              <div class="form-group">
                <label><div><span>Audio Codec</span></div>
                    <div><select class="form-control" detail="acodec">
                        <option value="default" selected>Default</option>
                        <option value="none">Auto</option>
                        <option value="no">No Audio</option>
                        <optgroup label="WebM">
                            <option value="libvorbis">libvorbis (Default)</option>
                            <option value="libopus">libopus</option>
                        </optgroup>
                        <optgroup label="MP4">
                            <option value="libmp3lame">libmp3lame</option>
                            <option value="aac">aac (Default)</option>
                            <option value="ac3">ac3</option>
                            <option value="copy">copy</option>
                        </optgroup>
                    </select></div>
                </label>
              </div>
              <div class="h_vc_input h_vc_libvpx h_vc_libvpx-vp9 h_vc_libx264 h_vc_libx265 h_vc_default h_vc_none">
                   <div class="form-group">
                    <label><div><span>Video Record Rate <small>(FPS)</small></span></div>
                    <div><input class="form-control" name="fps"></div>
                    </label>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Record Width</span></div>
                        <div><input class="form-control" type="number" min="1" name="width"></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Record Height</span></div>
                        <div><input class="form-control" type="number" min="1" name="height"></div>
                        </label>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label><div><span>Double Quote Directory <small>Some directories have spaces. Using this may crash some cameras.</small></span></div>
                    <div><select class="form-control" detail="dqf">
                        <option value="0" selected>No</option>
                        <option value="1">Yes</option>
                    </select></div>
                  </label>
              </div>
              <div class="form-group">
                <label><div><span>Recording Segment Interval <small>in minutes</small></span></div>
                <div><input class="form-control" detail="cutoff" placeholder="15"></div>
                </label>
              </div>
              <div class="h_vc_input h_vc_libvpx h_vc_libvpx-vp9 h_vc_libx264 h_vc_libx265 h_vc_default h_vc_none">
                  <div class="form-group">
                    <label><div><span>Record Video Filter</span></div>
                    <div><input class="form-control" detail="vf"></div>
                    </label>
                  </div>
              </div>
          </div>
          <div class="h_vc_input h_vc_libvpx h_vc_libvpx-vp9 h_vc_libx264 h_vc_libx265 h_vc_default h_vc_none">
              <div class="form-group-group red h_m_input h_m_record h_m_idle">
              <h4>Timestamp</h4>
                  <div class="form-group">
                      <label><div><span>Enabled <small>Does not work with copy encoder</small></span></div>
                        <div><select class="form-control" detail="timestamp" selector="h_tm">
                            <option value="1">Yes</option>  
                            <option value="0" selected>No</option>  
                        </select></div>
                      </label>
                  </div>
                  <div class="h_tm_input h_tm_1">
                      <div class="row">
                          <div class="form-group col-md-12">
                            <label><div><span>Font Path</span></div>
                            <div><input class="form-control" detail="timestamp_font" placeholder="/usr/share/fonts/truetype/freefont/FreeSans.ttf"></div>
                            </label>
                          </div>
                          <div class="form-group col-md-12">
                            <label><div><span>Font Size</span></div>
                            <div><input class="form-control" detail="timestamp_font_size" placeholder="10"></div>
                            </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-md-12">
                            <label><div><span>Text Color</span></div>
                            <div><input class="form-control" detail="timestamp_color" placeholder="white"></div>
                            </label>
                          </div>
                          <div class="form-group col-md-12">
                            <label><div><span>Text Box Color</span></div>
                            <div><input class="form-control" detail="timestamp_box_color" placeholder="0x00000000@1"></div>
                            </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-md-12">
                            <label><div><span>Position X</span></div>
                            <div><input class="form-control" detail="timestamp_x" placeholder="(w-tw)/2"></div>
                            </label>
                          </div>
                          <div class="form-group col-md-12">
                            <label><div><span>Position Y</span></div>
                            <div><input class="form-control" detail="timestamp_y" placeholder="0"></div>
                            </label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<!--     END of Record     -->
<!--     START of Advanced     -->
          <div class=" h_us_input h_us_advanced" style="display:none">
<!--     START of Custom     -->
          <div class="form-group-group navy">
          <h4>Custom</h4>
              <div class="form-group">
                <label><div><span>Input Flags</span></div>
                <div><input class="form-control" detail="cust_input" placeholder=""></div>
                </label>
              </div>
              <div class="form-group h_sn_input h_sn_1" style="display:none">
                <label><div><span>Snapshot Flags</span></div>
                <div><input class="form-control" detail="cust_snap"></div>
                </label>
              </div>
              <div class="form-group shinobi-detector" style="display:none">
                <label><div><span>Detector Flags</span></div>
                <div><input class="form-control" detail="cust_detect"></div>
                </label>
              </div>
              <div class="form-group shinobi-detector" style="display:none">
                <label><div><span>Detector Buffer Flags</span></div>
                <div><input class="form-control" detail="cust_detector_buffer"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Stream Flags</span></div>
                <div><input class="form-control" detail="cust_stream"></div>
                </label>
              </div>
              <div class="form-group h_m_input h_m_record">
                <label><div><span>Recording Flags</span></div>
                <div><input class="form-control" detail="cust_record" placeholder=""></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span>Output Method</span></div>
                    <div><input class="form-control" detail="custom_output" placeholder="-f flv rtmp://.."></div>
                </label>
              </div>
          </div>
<!--     END of Custom     -->
<!--     START of Detector     -->
          <div class="form-group-group orange">
          <h4>Detector : <span><b class="shinobi-detector_name"></b> <b class="shinobi-detector-invert">Not </b>Connected</span></h4>
              <div class="form-group">
                <label><div><span>Enabled <small>Only do this if you have a Detector plugin running.</small></span></div>
                    <div><select class="form-control" detail="detector" selector="h_det">
                        <option value="0" selected>No</option>
                        <option value="1">Yes</option>
                    </select></div>
                </label>
              </div>
              <div class="h_det_input h_det_1" style="display:none">
              <div class="shinobi-detector" style="display:none">
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Trigger Record</span></div>
                            <div><select class="form-control" detail="detector_trigger">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Recording Timeout <small>in Minutes</small></span></div>
                        <div><input class="form-control" detail="detector_timeout" placeholder="10"></div>
                        </label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Timeout Reset on Next Motion</span></div>
                            <div><select class="form-control" detail="watchdog_reset">
                                <option value="0">No</option>
                                <option value="1" selected>Yes</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Save Events to SQL</span></div>
                            <div><select class="form-control" detail="detector_save">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select></div>
                        </label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Email on Trigger <small>Emails go to the main account holder's login address.</small></span></div>
                            <div><select class="form-control" detail="detector_mail">
                                <option value="0" selected>No</option>
                                <option value="1">Yes</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Allow Next Email <small>in Minutes</small></span></div>
                        <div><input class="form-control" detail="detector_mail_timeout" placeholder="10"></div>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                    <label><div><span>Detector Rate <small>(FPS)</small></span></div>
                    <div><input class="form-control" detail="detector_fps" placeholder="2"></div>
                    </label>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Feed-in Image Width</span></div>
                        <div><input class="form-control" detail="detector_scale_x" placeholder="320"></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span>Feed-in Image Height</span></div>
                        <div><input class="form-control" detail="detector_scale_y" placeholder="240"></div>
                        </label>
                      </div>
                  </div>
              </div>
              <div class="shinobi-detector-stemkoski shinobi-detector-motion shinobi-detector_plug" style="display:none">
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label><div><span>Full Frame Detection</span></div>
                            <div><select class="form-control" detail="detector_frame">
                                <option value="0">No</option>
                                <option value="1" selected>Yes</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group col-md-12">
                        <label><div><span title="Opposite of Sensitivity">Indifference</span></div>
                        <div><input class="form-control" detail="detector_sensitivity" placeholder="0.5"></div>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                    <label><div><span>Webhook</span></div>
                        <div><select class="form-control" detail="detector_webhook" selector="h_det_web">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group h_det_web_input h_det_web_1">
                    <label><div><span>Webhook URL</span></div>
                    <div><input class="form-control" detail="detector_webhook_url" placeholder="Example : http://111.111.111.111?mid={{MONITOR_ID}}&group={{GROUP_KEY}}&confidence={{CONFIDENCE}}"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Detector Command</span></div>
                        <div><select class="form-control" detail="detector_command_enable" selector="h_det_com">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group h_det_com_input h_det_com_1">
                    <label><div><span>Command</span></div>
                    <div><input class="form-control" detail="detector_command" placeholder="Example : /home/script.sh {{MONITOR_ID}} {{GROUP_KEY}} {{CONFIDENCE}}"></div>
                    </label>
                  </div>
                  <div class="form-group h_det_com_input h_det_com_1">
                    <label><div><span>Allow Next Command <small>in Minutes</small></span></div>
                    <div><input class="form-control" detail="detector_command_timeout" placeholder="10"></div>
                    </label>
                  </div>
                  <div class="hidden">
                      <div><input detail="cords" placeholder=""></div>
                  </div>
                  <div class="form-group">
                    <a class="btn btn-danger btn-block" monitor="region"><i class="fa fa-grav"></i> &nbsp; Region Editor</a>
                  </div>
              </div>
              <div class="shinobi-detector-opencv shinobi-detector_plug" style="display:none">
                  <div class="form-group">
                    <label><div><span>Face Detection</span></div>
                        <div><select class="form-control" detail="detector_face">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Full Body Detection</span></div>
                        <div><select class="form-control" detail="detector_fullbody">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Car Side Detection</span></div>
                        <div><select class="form-control" detail="detector_car">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
              </div>
              </div>
          </div>
<!--
          <div class="h_det_input h_det_1" style="display:none">
              <div class="form-group-group orange shinobi-detector" style="display:none">
              <h4>Motion Buffer <small>Background HLS Recording</small></h4>
                  <div class="form-group">
                    <label><div><span>Enabled</span></div>
                        <div><select class="form-control" detail="detector_buffer" selector="h_dbf">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="h_dbf_input h_dbf_1" style="display:none">
                      <div class="form-group">
                        <label><div><span>Video Encoder</span></div>
                            <div><select class="form-control" detail="detector_buffer_vcodec" selector="h_dbv">
                                <option value="no" selected>Auto</option>
                                <option value="libx264" selected>libx264</option>
                                <option value="libx265">libx265</option>
                                <option value="copy">copy</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span>Audio Encoder</span></div>
                            <div><select class="form-control" detail="detector_buffer_acodec">
                                <option value="no" selected>No Audio</option>
                                <option value="" selected>Auto</option>
                                <option value="aac">aac</option>
                                <option value="ac3">ac3</option>
                                <option value="libmp3lame">libmp3lame</option>
                                <option value="copy">copy</option>
                            </select></div>
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span>Segment Length <small>in Seconds</small></span></div>
                            <div><input class="form-control" detail="detector_buffer_time" placeholder="2">
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span>Preset</span></div>
                            <div><input class="form-control" detail="preset_detector_buffer" placeholder="ultrafast">
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span>List Size</span></div>
                            <div><input class="form-control" detail="detector_buffer_list_size" placeholder="2">
                        </label>
                      </div>
                      <div class="h_dbv_input h_dbv_no h_dbv_libx264 h_dbv_libx265">
                          <div class="form-group">
                            <label><div><span>FPS</span></div>
                                <div><input class="form-control" detail="detector_buffer_fps" placeholder="Example : 5">
                            </label>
                          </div>
                          <div class="form-group">
                            <label><div><span>Quality</span></div>
                                <div><input class="form-control" detail="detector_buffer_quality" placeholder="Example : 1 - 23">
                            </label>
                          </div>
                          <div class="form-group">
                            <label><div><span>Clip Width</span></div>
                            <div><input class="form-control" detail="detector_buffer_scale_x" placeholder="320">
                            </label>
                          </div>
                          <div class="form-group">
                            <label><div><span>Clip Height</span></div>
                            <div><input class="form-control" detail="detector_buffer_scale_y" placeholder="240">
                            </label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
-->
          <div class="h_det_input h_det_1" style="display:none">
              <div class="form-group-group orange shinobi-detector" style="display:none">
              <h4>"No Motion" Detector</h4>
                  <div class="form-group">
                    <label><div><span>Enabled</span></div>
                        <div><select class="form-control" detail="detector_notrigger">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Email on "No Motion"</span></div>
                        <div><select class="form-control" detail="detector_notrigger_mail">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Timeout</span></div>
                        <div><input class="form-control" detail="detector_notrigger_timeout" placeholder="10"></div>
                    </label>
                  </div>
              </div>
          </div>
<!--     END of Motion     -->
          <div class="form-group-group blue">
          <h4>Control</h4>
              <div class="form-group">
                <label><div><span>Controllable</span></div>
                    <div><select class="form-control" detail="control" selector="h_c">
                        <option value="0">No</option>  
                        <option value="1">Yes</option>  
                    </select></div>
                </label>
              </div>
              <div class="h_c_input h_c_1">
                  <div class="form-group">
                    <label><div><span>Custom Base URL <small>Leave blank to use Host URL</small></span></div>
                    <div><input class="form-control" detail="control_base_url" placeholder="Example : http://111.111.111.111:8080"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Stop URL</span></div>
                        <div><select class="form-control" detail="control_stop" selector="h_cs">
                            <option value="0">No</option>  
                            <option value="1">Yes</option>
                        </select></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>URL Stop Timeout <small>Run stop URL after X milliseconds</small></span></div>
                    <div><input class="form-control" detail="control_url_stop_timeout" placeholder="1000"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Center <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_center" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Left <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_left" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Left Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_left_stop" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Right <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_right" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Right Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_right_stop" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Up <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_up" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Up Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_up_stop" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Down <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_down" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Down Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_down_stop" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Enable Night Vision <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_enable_nv" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Disable Night Vision <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_disable_nv" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Zoom Out <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_zoom_out" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Zoom Out Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_zoom_out_stop" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span>Zoom In <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_zoom_in" placeholder="/"></div>
                    </label>
                  </div>
                  <div class="form-group h_cs_input h_cs_1">
                    <label><div><span>Zoom In Stop <small>URL Address</small></span></div>
                    <div><input class="form-control" detail="control_url_zoom_in_stop" placeholder="/"></div>
                    </label>
                  </div>
              </div>
          </div>
          <div class="form-group-group purple">
          <h4>Grouping &nbsp; <small>Add groups in <b>Settings</b></small></h4>
              <div>
                  <ul class="mdl-list" id="monitor_group"></ul>
                  <input type="hidden" detail="groups">
              </div>
          </div>
          <div class="form-group-group green">
          <h4>Logging</h4>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label><div><span>Log Level</span></div>
                        <div><select class="form-control" detail="loglevel">
                            <option value="quiet">Silent</option>
                            <option value="fatal">Fatal</option>
                            <option value="error" selected>on Error</option>
                            <option value="warning">All Warnings</option>
                            <option value="debug">Debug</option>
                        </select></div>
                      </label>
                  </div>
                  <div class="form-group col-md-12">
                      <label><div><span>Save Log in SQL <small>This can fill up quickly.</small></span></div>
                        <div><select class="form-control" detail="sqllog">
                            <option value="0" selected>No</option>  
                            <option value="1">Yes</option>  
                        </select></div>
                      </label>
                  </div>
              </div>
              <div class="form-group" style="display:none">
                <input class="form-control" name="details" value="{}">
                <input class="form-control" name="shto" value="[]">
                <input class="form-control" name="shfr" value="[]">
              </div>
          </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <a class="btn btn-danger" monitor="delete" data-dismiss="modal"><i class="fa fa-trash-o"></i> Delete</a>
            <button type="button" class="btn btn-default save_config"><i class="fa fa-download"></i> Export</button>
            <button type="button" class="btn btn-default import_config"><i class="fa fa-upload"></i> Import</button>
            <button type="button" class="btn btn-primary probe_config"><i class="fa fa-search"></i> Probe</button>
            <span class="h_det_input h_det_1"><button type="button" style="display:none" class="btn btn-warning shinobi-detector-stemkoski shinobi-detector-motion shinobi-detector_plug" monitor="region"><i class="fa fa-grav"></i> Region Editor</button></span>
          </div>
          <div style="display:inline-block;margin-right:5px">
            <div><select class="form-control" dropdown_toggle="monedit_user_type" selector="h_us">
                <option value="simple" selected>Simple</option>  
                <option value="advanced">Advanced</option>  
            </select></div>
          </div>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
      </div>
    </form>
  </div>
</div>