<!--Timelapse Window-->
<div class="modal full fade dark" id="timelapse" tabindex="-1" role="dialog" aria-labelledby="timelapseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="timelapseLabel"><i class="fa fa-angle-double-right"></i> &nbsp; <span>Time-lapse Tool</span></h4>
      </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-8">
                    <div id="timelapse_video_display"></div>
                </div>
                <form class="col-md-4">
                    <div class="form-group">
                        <label><div><span>Current Monitor</span></div>
                            <div><select class="form-control monitors_list"></select></div>
                        </label>
                    </div>
                    <div class="form-group">
                    <label><div><span>Date Range</span></div>
                        <div><input type="text" id="timelapse_daterange" class="form-control" value="" /></div>
                    </label>
                    </div>
                    <div class="form-group">
                        <div class="btn-group"><a timelapse="stepBackBack" class="active btn btn-sm btn-primary"><i class="fa fa-fast-backward"></i></a> <a timelapse="stepBack" class="btn btn-sm btn-primary"><i class="fa fa-backward"></i></a> <a timelapse="play" class="btn btn-sm btn-default"><i class="fa fa-play"></i></a> <a timelapse="mute" class="btn btn-sm btn-default"><i class="fa fa-volume-up"></i></a> <a timelapse="stepFront" class="btn btn-sm btn-primary"><i class="fa fa-fast-forward"></i></a> <a timelapse="stepFrontFront" class="active btn btn-sm btn-primary"><i class="fa fa-forward"></i></a>
                    </div>
                    </div>
                    <div class="form-group">
                        <ul id="timelapse_video_line" class="list-group"></ul>
                    </div>
                </form>
            </div>
        </div>
      <div class="modal-footer">
          <div class="btn-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>