<% include blocks/header %>
<script>$user=<%-JSON.stringify($user)%></script>
<link rel="stylesheet" href="libs/css/pnotify.custom.min.css">
<link rel="stylesheet" href="libs/css/vbox.css">
<link rel="stylesheet" href="libs/css/circles.css">
<link rel="stylesheet" href="libs/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/css/font-awesome.min.css">
<link rel="stylesheet" href="libs/css/fullcalendar.min.css">
<link rel="stylesheet" href="libs/css/bootstrap-table.min.css">
<link rel="stylesheet" href="libs/css/main.css">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group-group grey">
                    <h4>Sub Accounts</h4>
                    <table class="table table-striped" id="sub_accounts"></table>
                </div>
            </div>
            <div class="col-md-6">
                <form id="add_new">
                  <div class="form-group-group grey">
                        <h4>Add</h4>
                        <div id="msg" class="text-center" style="padding:10px;"></div>
                        <div class="form-group">
                            <label><span>Email</span>
                                <input class="form-control" type="email" name="mail">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Password <small>Leave blank to keep same password</small></span>
                                <input class="form-control" type="password" name="pass">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Password Again</span>
                                <input class="form-control" type="password" name="password_again">
                            </label>
                        </div>
                      <div>
                          <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="libs/js/pnotify.custom.min.js"></script>
<script src="libs/js/socket.io.js"></script>
<script src="libs/js/moment.js"></script>
<script src="libs/js/livestamp.min.js"></script>
<script src="libs/js/placeholder.js"></script>
<script src="libs/js/bootstrap.min.js"></script>
<script src="libs/js/bootstrap-table.min.js"></script>
<script>
$.ccio={};$.ls=localStorage;
$.ccio.ws=io(location.origin);
$.ccio.cx=function(x){if(!x.ke){x.ke=$user.ke;};if(!x.uid){x.uid=$user.uid;};return $.ccio.ws.emit('a',x)}
$.ccio.ws.on('f',function(d){
    console.log(d);
    switch(d.f){
        case'add_sub_account':
            $.ccio.tm(0,d,'#sub_accounts')
        break;
    }
})
$.ccio.cx({f:'init',auth:$user.auth_token});
    $.ccio.tm=function(x,d,z,k){
        var tmp='';if(!d){d={}};if(!k){k={}};
        if(d.id&&!d.mid){d.mid=d.id;}
        switch(x){
            case 0://sub account row
                tmp+='<tr uid="'+d.uid+'"><td><b class="mail">'+d.mail+'</b></td><td><span class="uid">'+d.uid+'</span></td><td><a class="delete btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a></td></tr>';
            break;
        }
        if(z){
            $(z).prepend(tmp)
        }
        return tmp;
    }
$subs=<%-JSON.stringify($subs)%>;
$.each($subs,function(n,v){
    $.ccio.tm(0,v,'#sub_accounts')
})
    
    
$.aN={e:$('#add_new')};
$.aN.e.submit(function(e){
    e.preventDefault();
    e.s=$.aN.e.serializeObject();e.m=$('#msg').empty()
    $.post($user.auth_token+'/register/'+$user.ke+'/'+$user.uid,e.s,function(d){
        console.log(d)
        if(d.msg){
            e.m.text(d.msg)
        };
    });
    return false;
});
</script>