<% include blocks/header %>
<script>var $user=<%- JSON.stringify($user) %>;</script>
<link rel="stylesheet" href="libs/css/pnotify.custom.min.css">
<link rel="stylesheet" href="libs/css/vbox.css">
<link rel="stylesheet" href="libs/css/circles.css">
<link rel="stylesheet" href="libs/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/css/font-awesome.min.css">
<link rel="stylesheet" href="libs/css/fullcalendar.min.css">
<link rel="stylesheet" href="libs/css/bootstrap-table.min.css">
<link rel="stylesheet" href="libs/css/main.css">
<style id="custom_css"><%= JSON.parse($user.details).css %></style>
<div id="cd-nav" class="hidden-lg">
    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav id="cd-main-nav">
        <ul>
            <li mid="" ke=""><a monitor="edit"><i class="fa fa-plus"></i> &nbsp; Add Monitor</a></li>
            <li><a data-toggle="modal" data-target="#settings"><i class="fa fa-gears"></i> &nbsp; Settings</a></li>
            <li><a data-toggle="modal" data-target="#apis"><i class="fa fa-code"></i> &nbsp; API</a></li>
            <li><a data-toggle="modal" data-target="#logs_modal"><i class="fa fa-exclamation-triangle"></i> &nbsp; Logs</a></li>
            <li><a class_toggle="list-blocks" data-target="#side_menu"><i class="fa fa-camera"></i> &nbsp; Monitor List <small>Toggle</small></a></li>
            <li><a class_toggle="nav-xs" data-target="#side_menu_right"><i class="fa fa-film"></i> &nbsp; Event Pane <small>Toggle</small></a></li>
            <li><a class_toggle="nav-xs" data-target="#side_menu"><i class="fa fa-bars"></i> &nbsp; Monitor Pane <small>Toggle</small></a></li>
        </ul>
    </nav>
</div>
<section class="app">
    <section class="hbox stretch">
    <section class="vbox">
        <header id="main_header" class="header">
            <div class="pull-right">
<ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="true">&nbsp;<i class="fa fa-hdd-o"></i>&nbsp;</a>
                  <ul id="disk" class="dropdown-menu list-unstyled msg_list scrollable" role="menu"></ul>
                </li>
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="true">&nbsp;<i class="fa fa-exclamation-triangle"></i>&nbsp;</a>
                  <ul id="logs" class="dropdown-menu list-unstyled msg_list scrollable" role="menu">
<!--
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
-->
                  </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="info-number" class_toggle="nav-xs" data-target="#side_menu_right">&nbsp;<i class="fa fa-reorder"></i>&nbsp;</a>
                </li>
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="usermail"></span>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a data-toggle="modal" data-target="#settings"><i class="fa fa-gears pull-right"></i> Settings</a></li>
                    <li><a data-toggle="modal" data-target="#apis"><i class="fa fa-code pull-right"></i> API</a></li>
                    <li><a data-toggle="modal" data-target="#logs_modal"><i class="fa fa-exclamation-triangle pull-right"></i> Logs</a></li>
                    <li><a class="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
<!--
                <div class="btn-group" mid="" ke="">
                    <a class="btn btn-default" class_toggle="nav-xs" data-target="#side_menu_right"><i class="fa fa-reorder"></i></a>
                </div>
-->
            </div>
        <ul class="nav navbar-nav">
            <li class="hidden-xs"><a class="info-number" class_toggle="nav-xs" data-target="#side_menu">&nbsp;<i class="fa fa-reorder"></i>&nbsp;</a>&nbsp;</li>
            <li class="hidden-xs"><a class="info-number" class_toggle="list-blocks" data-target="#side_menu">&nbsp;<i class="fa fa-camera"></i>&nbsp;</a></li>
            <li class="hidden-xs" mid="" ke=""><a class="info-number" monitor="edit">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a></li>
            <li class="os_bars">
                <div class="display-table">
                    <div class="cpu_load display-table-cell">
                        <span class="pull-right percent"></span>
                        <label><span class="os_cpuCount"></span> CPU<span class="os_cpuCount_trailer"></span> on <span class="os_platform" style="text-transform:capitalize"></span></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
                      </div>
                    </div>
                    <div class="ram_load display-table-cell">
                        <span class="pull-right percent"></span>
                       <label><span class="os_totalmem" style="letter-spacing:2px;font-weight:100"></span> MB RAM</label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
            <div class="pull-left">
                
            </div>
        </header>
        <section>
        <section class="hbox stretch">
            <aside class="aside-lg vbox side-menu" id="side_menu">
                <section class="scrollable">
                    <div id="monitors_list" class="display-table"></div>
                </section>
            </aside>
            <aside class="vbox" id="main_canvas">
                <section class="scrollable">
                    <div id="monitors_live"></div>
                </section>
            </aside>
            <aside class="aside-lg vbox side-menu" id="side_menu_right">
                <section class="scrollable w-f">
                    <div id="files_recent"></div>
                </section>
                <footer class="footer dker"></footer>
            </aside>
        </section>
        </section>
    </section>
    </section>
</section>
<div class="hidden" id="temp"></div>
<% include blocks/probe.html %>
<% include blocks/api.html %>
<% include blocks/logs.html %>
<% include blocks/settings.html %>
<% include blocks/videoview.html %>
<% include blocks/monitoredit.html %>
<% include blocks/confirm.html %>
<!--Dropbox Library, Change data-app-key to your app key. -->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= $user.DropboxAppKey %>"></script>
<!--Dropbox End-->
<script src="libs/js/pnotify.custom.min.js"></script>
<script src="libs/js/moment.js"></script>
<script src="libs/js/livestamp.min.js"></script>
<script src="libs/js/placeholder.js"></script>
<script src="libs/js/bootstrap.min.js"></script>
<script src="libs/js/bootstrap-table.min.js"></script>
<script src="libs/js/socket.io.js"></script>
<script src="libs/js/fullcalendar.min.js"></script>
<script src="libs/js/hls.min.js"></script>
<script src="libs/js/menu.js"></script>
<script src="libs/js/main.js"></script>
