<% include blocks/header %>
<div class="shinobi-bg display-table" style="height:100%">
<div class="shinobi-bg-shade">
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
<!--
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
-->
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="/" method="post" style="display: block;">
									<div class="form-group">
										<input type="email" name="mail" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
									</div>
									<div class="form-group">
										<input type="password" name="pass" id="pass" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group text-center">
                                        <label>
                                            <input type="checkbox" tabindex="3" class="" name="mobile">
                                            <span> Dash2</span>
                                        </label> &nbsp; <label>
                                            <input type="checkbox" tabindex="3" class="" name="admin">
                                            <span> Admin</span>
                                        </label> &nbsp; <label>
                                            <input type="checkbox" tabindex="3" class="" name="remember">
                                            <span> Remember Me</span>
                                        </label> &nbsp; <label>
                                            <input type="checkbox" tabindex="3" class="" value="1" name="recorder">
                                            <span> Shinobi Streamer</span>
                                        </label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
								</form>
<!--
								<form id="register-form" method="post" role="form" style="display: none;">
                                    <div id="register-msg text-center" style="margin:10px"></div>
									<div class="form-group">
										<input type="email" name="mail" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="pass" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="pass2" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script>
    $.ccio={f:$('#login-form'),rf:$('#register-form'),ls:localStorage.getItem('ShinobiLogin_'+location.host)}
    $.ccio.rf.submit(function(e){
        e.preventDefault();$('input').css('border-color','')
        e.e=$(this),e.s=e.e.serializeObject(),e.inputs=e.e.find('input,button').prop('disabled',true),e.h=$('#register-msg').html('')
        $.post('/register',e.s,function(d){
            e.h.html(d.msg)
            e.inputs.prop('disabled',false)
        })
        return false;
    });
    $.ccio.f.submit(function(e){
        $('input').css('border-color','')
        e.e=$(this),e.s=e.e.serializeObject(),e.inputs=e.e.find('input,button');
        if(e.s.remember){localStorage.setItem('ShinobiLogin_'+location.host,JSON.stringify({mail:e.s.mail,pass:e.s.pass}))}else{localStorage.removeItem('ShinobiLogin_'+location.host)}
    })
    if($.ccio.ls){$.ccio.ls=JSON.parse($.ccio.ls);$.each($.ccio.ls,function(n,v){$.ccio.f.find('[name="'+n+'"]').val(v)});$.ccio.f.find('[name="remember"]').prop('checked',true);$.ccio.f.submit()}

$(function() {
    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
    $('[disabled]').prop('disabled',false)
});

</script>
