<% include blocks/header %>
<link rel="stylesheet" href="/libs/css/pnotify.custom.min.css">
<link rel="stylesheet" href="/libs/css/vbox.css">
<link rel="stylesheet" href="/libs/css/circles.css">
<link rel="stylesheet" href="/libs/css/material.min.css">
<link rel="stylesheet" href="/libs/css/bootstrap.min.css">
<link rel="stylesheet" href="/libs/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/css/fullcalendar.min.css">
<link rel="stylesheet" href="/libs/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/libs/css/main.dash2.css">
<style>
    .form-group label span{width:40%}
</style>
<body style="background:rgba(33,33,33,1);">
<div class="container-fluid">
    <div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Shinobi : Super Admin</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
<!--        <li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;<i class="fa fa-bars"></i>&nbsp;</a>
          <ul class="dropdown-menu">
<!--
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
-->
            <li><a class="logout"><i class="fa fa-sign-out pull-right"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
        
        
        <div class="row">
            <div class="col-md-5">
                <div class="form-group-group grey">
                    <h4>Accounts</h4>
                    <table class="table table-striped" id="accounts"></table>
                </div>
            </div>
            <div class="col-md-7">
                <form id="add_edit">
                  <div class="form-group-group">
                      <h4><span id="title"></span>
                          <div class="pull-right">
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="edit">
                                  <input type="checkbox" id="edit" value="1" class="mdl-switch__input">
                                  <span class="monospace mdl-switch__label"></span>
                              </label>
                          </div>
                      </h4>
                        <div class="form-group">
                            <label><span>Email</span>
                                <input class="form-control" type="email" name="mail">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Group Key <small>Leave blank for random.</small></span>
                                <input class="form-control" name="ke">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Password <small class="h_e_input h_e_edit">Leave blank to keep same password</small></span>
                                <input class="form-control" type="password" name="pass">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Password Again</span>
                                <input class="form-control" type="password" name="password_again">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Max Storage <small>in Megabytes</small></span>
                                <input class="form-control" detail="size" placeholder="10000">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Number of Days to keep <b>Videos</b></span>
                                <input class="form-control" detail="days" placeholder="5">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Number of Days to keep <b>Events</b></span>
                                <input class="form-control" detail="event_days" placeholder="10">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Number of Days to keep <b>Logs</b></span>
                                <input class="form-control" detail="log_days" placeholder="10">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Max Number of Cameras</span>
                                <input class="form-control" detail="max_camera" placeholder="Leave blank for unlimited.">
                            </label>
                        </div>
                        <div class="form-group">
                            <label><span>Permissions</span>
                                <select class="form-control" detail="permissions" selector="h_l">
                                    <option value="all" selected>All Privileges</option>  
                                    <option value="limited">Limited</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can edit Max Storage</span>
                                <select class="form-control" detail="edit_size">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can edit Max Days</span>
                                <select class="form-control" detail="edit_days">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can edit how long to keep Events <small>in Days</small></span>
                                <select class="form-control" detail="edit_event_days">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can edit how long to keep Logs <small>in Days</small></span>
                                <select class="form-control" detail="edit_log_days">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can use Admin Panel</span>
                                <select class="form-control" detail="use_admin">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                        <div class="form-group h_l_input h_l_limited">
                            <label><span>Can use WebDAV</span>
                                <select class="form-control" detail="use_webdav">
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>  
                                </select>
                            </label>
                        </div>
                      <div>
                          <div class="pull-right">
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>
                  </div>
                    <input type="hidden" name="details" value="{}">
                </form>
            </div>
        </div>
    </div>
</div>
<% include blocks/confirm.html %>
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
</body>
<script src="/libs/js/pnotify.custom.min.js"></script>
<script src="/libs/js/socket.io.js"></script>
<script src="/libs/js/moment.js"></script>
<script src="/libs/js/livestamp.min.js"></script>
<script src="/libs/js/placeholder.js"></script>
<script src="/libs/js/bootstrap.min.js"></script>
<script src="/libs/js/bootstrap-table.min.js"></script>
<script src="/libs/js/material.min.js"></script>
<script>$user=<%-JSON.stringify($user)%></script>
<script>
$.ccio={accounts:{}};$.ls=localStorage;
$.ccio.ws=io(location.origin);
$.ccio.cx=function(x){return $.ccio.ws.emit('super',x)}
$.ccio.ws.on('f',function(d){
    console.log(d);
    switch(d.f){
        case'edit_account':
            d.msg='Account Edited';
            $.each(d.form,function(n,v){
                $.ccio.accounts[d.ke][n]=v;
            });
        break;
        case'add_account':
            d.msg='Account Created';
            $.ccio.tm(0,d,'#accounts')
            $.aN.selected=$.ccio.accounts[d.ke];
        break;
        case'delete_account':
            $('#accounts tr[ke="'+d.ke+'"]').remove()
        break;
    }
    if(d.msg){
        $('#toast')[0].MaterialSnackbar.showSnackbar({message:d.msg})
    }
})
$.ccio.cx({f:'init',mail:$user.mail,pass:$user.pass});
$.ccio.tm=function(x,d,z,k){
    var tmp='';if(!d){d={}};if(!k){k={}};
    if(d.id&&!d.mid){d.mid=d.id;}
    switch(x){
        case 0://account row
            d.detailsJSON=JSON.parse(d.details);
            $.ccio.accounts[d.ke]=d;
            tmp+='<tr ke="'+d.ke+'"><td><b class="mail">'+d.mail+'</b></td><td>'+d.ke+'</td><td><a class="permission btn btn-xs btn-primary"><i class="fa fa-lock"></i></a></td><td><a class="delete btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a></td></tr>';
        break;
    }
    if(z){
        $(z).prepend(tmp)
    }
    return tmp;
}
users=<%-JSON.stringify(users)%>;
if(users){
    $.each(users,function(n,v){
        $.ccio.tm(0,v,'#accounts')
    })
}
    
//add new
$.aN={e:$('#add_edit')};
$.aN.e.submit(function(e){
    e.preventDefault();
    e.s=$.aN.e.serializeObject()
    e.cx={f:'accounts',ff:'register',form:e.s};
    if($('#edit').is(':checked')){
        e.cx.ff='edit';
        e.cx.account=$.aN.selected;
    }
    $.ccio.cx(e.cx)
    return false;
});
$.aN.e.on('change','[detail]',function(e){
    e.ar={},e.f=$(this).parents('form');
    $.each(e.f.find('[detail]'),function(n,v){
        v=$(v);e.ar[v.attr('detail')]=v.val();
    });
    e.f.find('[name="details"]').val(JSON.stringify(e.ar));
})
$('#edit').change(function(e){
    if($('#edit').is(':checked')){
        $('#title').text('Edit Existing')
        $.aN.e.find('[name="mail"],[name="ke"]').prop('disabled',true)
    }else{
        $('#title').text('Add New')
        $.aN.e.find('input,select').prop('disabled',false)
    }
}).change()
$.aN.e.on('change','[selector]',function(e){
    e.v=$(this).val();e.a=$(this).attr('selector')
    $.aN.e.find('.'+e.a+'_input').hide()
    $.aN.e.find('.'+e.a+'_'+e.v).show();
}).find('[selector]').change();
//simple lister
$.aC={e:$('#accounts')};
$.aC.e.on('click','.delete',function(e){
    e.e=$(this).parents('tr');
    e.u=e.e.attr('ke');
    e.account=$.ccio.accounts[e.u];
    $.confirm.e.modal('show');
    $.confirm.title.html('Delete Account <small>'+e.u+'</small>')
    e.html='Do you want to delete <b>'+e.account.mail+'</b>? You cannot recover this account. Files will remain in the filesystem. If you choose to create an account with the same Group Key it will have the previous events activated in that account.'
    $.confirm.body.html(e.html)
    $.confirm.click({title:'Delete',class:'btn-danger'},function(){
        $.ccio.cx({f:'accounts',ff:'delete',account:e.account})
    });
})
$.aC.e.on('click','.permission',function(e){
    $('#edit').prop('checked',true).change().parent().addClass('is-checked')
    e.e=$(this).parents('tr');
    e.u=e.e.attr('ke');
    e.account=$.ccio.accounts[e.u];
    $.aN.selected=e.account;
    $.aN.e.find('input').val('');
    $.each(e.account,function(n,v){
        if(n=='pass'){return}
        $.aN.e.find('[name="'+n+'"]').val(v).change()
    })
    $.each(JSON.parse(e.account.details),function(n,v){
        $.aN.e.find('[detail="'+n+'"]').val(v).change()
    })
//    $.pR.e.modal('show');
    
})
$('body')
.on('click','.logout',function(e){
    localStorage.removeItem('ShinobiLogin_'+location.host);location.href='/';
})
</script>